/* 
    Document   : mhGeoTest
    Created on : Sep 7, 2013, 11:28:35 AM
    Author     : Michael Haungs <mhaungs at calpoly.edu>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

